body {
    margin: 20px;
    padding: 20px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-bottom: 20px; */
}

#quote {
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#displayAuthor {
    font-weight: bold;
    margin-top: 10px;
}

#displayQuote {
    font-size: 1.3em;
    font-style: italic;
}

#authorInfo {
    display:grid;
    gap: 20px;
    grid-template-columns: 200px 1fr;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

button {
    background-color: #4CAF52;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

footer {
    padding: 20px;
    margin-top: 30px;
    font-size: 0.8em;
    text-align: center;
}