body {

    margin: 20px;
    padding: 20px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-bottom: 20px; */

    /* flex box */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* flexbox */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between sections */
}

#quote {
    font-size: 1.2em;
    background-color: rgba(219, 216, 216, 0.4);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#displayAuthor {
    font-weight: bold;
    margin-top: 10px;
}

#displayQuote {
    font-size: 1.3em;
    font-style: italic;
}

#authorInfo {
    display: flex;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

button {
    background-color: #4CAF52;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

footer {
    padding: 20px;
    margin-top: 30px;
    font-size: 0.8em;
    text-align: center;
}