h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    color: #6bef06;
    padding: 60px 20px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.2);
    width:100%;

    /* banner */
    background-image: url("img/banner2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    padding-top: 70px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-variation-settings: "wdth" 100;
}

h3 {
    margin-top: 80px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-variation-settings: "wdth" 100;
}

#userInput {
    text-align: center;
}

#controls {
    text-align: center;
    margin: 20px 0;
}

#searchForm button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #f1f5f7;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-size: 1.1em;
}

body {
    display: flex;
    flex-direction: column;
    align-items:center;
    background: linear-gradient(to top, #000000, #d9d9d9);
    background-attachment: fixed;
    min-height: 100vh;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    margin: 0;
}

#searchForm {
    display: inline-block;
    margin-left: 10px;
}

#searchForm input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00b5cc;
    border-radius: 5px;
    width: 250px;
}

#searchError {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.2);
}

#characterContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 2-px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.characterInfo {
    background-color: rgb(0, 0, 0);
    border-radius: 10ps;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.characterInfo img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#options {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*two per row */
    gap: 20px; /*separate the cards with a gap */
    width: 100%;
    max-width: 900px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: rgb(228, 226, 226);
    padding-top: 120px;
    width: 100%;
}