footer {
    text-align: center;
    padding-top: 60px;
    font-size: 0.8em;
    color: gray;
}

figure {
    text-align: center;
    margin: 0 auto;
}

#welcome {
    text-align: center;
    margin-top: 200px;
}