/* flexbox helps to center contents while justifying left */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, tan, rgb(237, 224, 206));
    min-height: 100vh;
    line-height: 1.6;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 50px;
  letter-spacing: 2px;
}

#welcome {
    font-family: "Kanit", sans-serif;
}

#welcomeBody {
    justify-content: center;
}

form {
    width: 500px;
    text-align: left;
    font-size: 20px;

    /* adds a box around form */
    padding: 40px;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2)
}

/* for submit button */
input[type = "submit"] {
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

footer {
    text-align: center;
    padding-top: 60px;
    font-size: 0.8em;
    color: gray;
    /* flexbox constrains the length to 500px, this will fix */
    width: 100%;
}

figure {
    text-align: center;
    margin: 0 auto;
}

#welcome {
    text-align: center;
    margin-top: 200px;
}