body {
    background-color:rgb(28, 26, 26);
    color:white;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;  /* value between 300 and 800 */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1em;
    text-align: center;
}

header{
    text-align:center;
}
 
footer {
    text-align: center;
    padding-top: 60px;
}

#likeBtn, #dislikeBtn, #commentBtn, #questionsBtn, #reportsBtn {
    cursor: pointer;
}


h3 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;  /* value between 300 and 800 */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.5em;
}
